{#{% extends "layout/basic.html" %}#}
{#{% load static %}#}

{#{% block content %}#}
{% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
<div id="msg" ></div>
<form class="form" method="post" id="fileUpload" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button class="btn btn-primary" id="frmSubmit" type="submit">Upload</button>
        <a class="btn btn-danger" href="{% url 'main:index' %}">Close</a>
    </div>

</form>


{#{% endblock %}#}


